@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bm;
    src: url(./font/BlackMango-Black.otf);
}

h1{
    font-family: bm;
}

body{
    background: #6BCEEA;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.nav-bar{
    font-family: bm;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    /* font-size: 18px; */
}

.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.logo .star{
    width: 14px;
    object-fit: cover;
    margin-right: 4px;
}
.star-logo{
    width: 50px;
    padding-right: 25px;
}

.menu-items{
    display: flex;
    gap: 2rem;
}

li{
    list-style: none;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    display: block;
    transition: .3s ease;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

section{
    height: 75vh;
    padding: 1rem;
}

.section-one{
    height: calc(100vh - 100px);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    align-items: center;
    max-width: 1300px;
}

.container-one{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top; /* Center the image */
}

.container-four{
    background: url('img/wildwest_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left; /* Center the image */
}

.container-two{
    /*background: url('img/container-two.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left; /* Center the image */
}

.container-three{
    background: url('img/wildwest_bg_3.png');
    background-size: fill;
    background-position: right top; /* Center the image */
}

.gold{
    height: 600px;
    width: 600px;
    object-fit: fill;
}

.methonomics{
    height: 400px;
    width: 500px;
    object-fit: fill;
}

.methods{
    height: 300px;
    width: 500px;
    object-fit: fill;
}

.title{
    line-height: 1.2;
}
.title h1{
    width: 500px;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    
}

.title .star{
    width: 40px;
}

p{
    font-family: bm;
    letter-spacing: 1px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    max-width: 500px;
}

.separator{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p{
    padding: 2rem 10px;
}

button{
    border: 3px solid #000000;
    background: linear-gradient(to right, #E0B5FF , #6BCEEA);
    color: #000000;
    padding: 1rem 2rem;
    font-family: bm;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    transition: .3s ease;
}

button::after{
    font: normal normal normal 14px/1 FontAwesome;
    /*content: '\e098';*/
    margin-left: 1rem;
}

button:hover{
    background: linear-gradient(to right, #6BCEEA, #E0B5FF);
}

.glow{
    filter: drop-shadow(-20px 0px 1.75em rgb(81,147,194));
}


.right-side{
    justify-self: flex-start;
}

.title h2{
    font-size: 24px;
    font-family: bm;
    color: #ffffff;
}

.line{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 2px;
    margin-top: 1rem;
}

.gold3{
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.type{
    padding: 1rem 0;
}

.type :first-child{
    font-size: 18px;
}

.g-type{
    color: #000000;
}

.line-blue{
    background-color: #0152fc;
}


.card-container{
    font-family: bm;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}

.card{
    /* background-color: #0152fc; */
    width: 28%;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: .8s ease;
}

.img-card{
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.card-1{
    background: linear-gradient(to right,hsla(195, 100%, 87%, 0.25) , #d8e2ff);
}
.card-2{
    background: linear-gradient(to right,hsla(195, 100%, 87%, 0.25) , #d8e2ff);
}
.card-3{
    background: linear-gradient(to right,hsla(195, 100%, 87%, 0.25) , #d8e2ff);
}

.card:hover{
    background: linear-gradient(to left,
    #3a7bd5, #00d2ff
    );
}

.color{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.card span{
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
}

.card:hover .color{
    color: #fff;
}

.txt{
    font-size: 24px;
}

.txt span{
    color: #ffffff;
}

.sides{
    padding-top: 5rem;
}

.menu{
    font-family: bm;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu li{
    width: 30%;
}

.footer-section{
    height: auto;
}

footer{
    padding: 3rem;
}

.center{
    justify-self: center;
}

.star-s2{
    position: absolute;
    width: 65px;
    right: 0%;
}

.star-s4{
    width: 65px;
    position: absolute;
    left: -2%;
    margin-top: 2.5rem;
    z-index: -1;
}

.star-s5{
    position: absolute;
    left: 40%;
    width: 40px;
    z-index: -1;
}

.image{
    animation: float 4s ease-in-out infinite;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

/* For small devices */
@media screen and (min-width: 300px) {
    .title h1{
        width: 250px;
    }
    .txt{
        font-size: 14px;
    }
    .gold{
        height: 150px;
        width: 150px;
        object-fit: fill;
    }
    .methods{
        height: 100px;
        width: 150px;
        object-fit: fill;
    }
    .methonomics{
        height: 100px;
        width: 150px;
        object-fit: fill;
    }
    .color{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: .5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .title h1{
        width: 300px;
    }
    .gold{
        height: 150px;
        width: 150px;
        object-fit: fill;
    }
    .methods{
        height: 150px;
        width: 250px;
        object-fit: fill;
    }
    .methonomics{
        height: 150px;
        width: 250px;
        object-fit: fill;
    }
  }
  
  @media screen and (min-width: 767px) {
    .title h1{
        width: 500px;
    }
    .gold{
        height: 300px;
        width: 300px;
        object-fit: fill;
    }
    .methods{
        height: 200px;
        width: 350px;
        object-fit: fill;
    }
    .methonomics{
        height: 250px;
        width: 350px;
        object-fit: fill;
    }
  }
  
  @media screen and (min-width: 992px) {
    .title h1{
        width: 500px;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .title h1{
        width: 500px;
    }
    .gold{
        height: 600px;
        width: 600px;
        object-fit: fill;
    }
    .methods{
        height: 350px;
        width: 550px;
        object-fit: fill;
    }
    .methonomics{
        height: 400px;
        width: 550px;
        object-fit: fill;
    }
  }